/* 캘린더 컨테이너 */
#calendarContainer {
    padding: 20px;
    position: relative;
}

/* 캘린더 헤더 (캘린더 제목 및 버튼 배치) */
.calendarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* 일정 추가 버튼 */
.openModalButton {
    background-color: #2a5db0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.openModalButton:hover {
    background-color: #1e4a90;
}
