@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

:root {
  --font-primary: "Pretendard", sans-serif;
}

* {
  font-family: var(--font-primary);
}
body {
	background-color: #F1F1F1;
}