@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

:root {
  --font-primary: "Pretendard", sans-serif;
}

* {
  font-family: var(--font-primary);
}
.modal-content {
    background-color: white;
    width: 500px; /* 크기 조정 */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    text-align: left;
    position: relative; /* 자식 요소의 위치 기준 */
}

.button-group {
    display: flex;
    justify-content: flex-end; /* 버튼을 오른쪽으로 정렬 */
    gap: 10px; /* 버튼 간 간격 */
    position: absolute; /* 부모 요소의 기준으로 위치 설정 */
    bottom: 20px; /* 부모 요소의 하단에서의 거리 */
    right: 20px; /* 부모 요소의 오른쪽에서의 거리 */
}

.comment-section {
    margin-bottom: 60px; /* 버튼과 댓글 섹션 사이의 거리 */
}

input::placeholder, 
textarea::placeholder {
    font-family: Pretendard, Arial, sans-serif;
    color: #aaa;
    font-size: 14px;
}

body {
    font-family: Pretendard, Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* 화면 넘침 방지 */
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.title-input {
    width: 100%;
    font-size: 18px;
    color: #444;
    border: none;
    outline: none;
    margin-bottom: 10px;
    padding: 10px 0;
    background-color: transparent;
    font-weight: bold;
}

.title-input::placeholder {
    color: #bbb;
    font-size: 18px;
    font-weight: normal;
}

.modal-content hr {
    margin: 10px 0;
    border: none;
    border-top: 1px solid #ccc;
}

.form-group {
    margin-bottom: 20px;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-row label {
    width: 40%;
    font-size: 14px;
    color: #444;
}

.flex-row input, .flex-row select {
    width: 55%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: none;
    width: 100%;
    height: 120px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.reset-btn, .submit-btn {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reset-btn {
    background-color: #f1f1f1;
    color: #444;
}

.reset-btn:hover {
    background-color: #ddd;
}

.submit-btn {
    background-color: #0353a4;
    color: white;
}

.submit-btn:hover {
    background-color: #024c8c;
}

.participant-info {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.participant-list {
    margin: 10px 0 0 0;
    padding: 0;
    list-style-type: none;
}

.participant-list li {
    padding: 5px 0;
    font-size: 14px;
    color: #444;
    border-bottom: 1px solid #eee;
}

.participant-list li:last-child {
    border-bottom: none;
}

