@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

:root {
  --font-primary: "Pretendard", sans-serif;
}

* {
	font-family: var(--font-primary);
}

.GroupMemberListModal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	z-index: 9999;
}

.ModalContent {
	display: flex;
	flex-direction: column;
	background: #ffffff;
	margin: 10% auto;
	width: 450px;
	height: 550px;
	padding: 30px;
	border-radius: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	text-align: left;
}

.GMLModalHeader {
	position: sticky;
	top: 0;
	background: #ffffff;
	padding-left: 5px;
	margin-bottom: 10px;
	z-index: 10;
}

.Header {
	font-size: 23px;
	color: #0353a4;
	white-space: nowrap;
}

.GMLModalBody {
	flex: 1;
	margin-top: 10px;
	margin-bottom: 30px;
	overflow-y: auto;
	}
	
.GroupMemberCard {
	background: #e0e0e0;
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 15px;
}

.MemberNickname {
	color:#242424;
	font-size: 19px;
	margin: 10px;
}

.MemberEmail {
	color: #242424;
	margin: 10px;
}

.GMLModalTail {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 10px;
}

.GroupMemberListCancel {
	color: #242424;
	width: 58px;
	background: #e0e0e0; 
    border: none; 
    border-radius: 4px; 
    padding: 6px 12px;
    white-space: nowrap;
    cursor: pointer;
}
