@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Pretendard', sans-serif;
}

body {
    background-color: #f1f1f1;
}

.MainContent {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	padding: 50px;
	margin: 30px;
}

.Header {
	margin-bottom: 10px;
}

.Title {
	font-size: 30px;
	color: #0353a4;
	margin-bottom: 5px;
	white-space: nowrap;
}

.Date {
	color: #242424;
 	display: inline-block; 
    background: #e0e0e0; 
    padding: 4px 8px; 
    border: none;
    border-radius: 4px; 
    font-size: 14px;
    margin-top: 4px;
    cursor: pointer;
}

.Submit {
	color: #242424;
	width: 50px;
	background: #e0e0e0; 
    border: none; 
    border-radius: 4px; 
    padding: 6px 12px; 
    white-space: nowrap;
    cursor: pointer;
}

.Submit:hover {
	background: #0353a4; 
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	color: white;
}

.RightMenu {
	display: flex;
	margin-left: auto;
}

.MemberListButton {
	color: #242424;
	width: 58px;
	background: #e0e0e0; 
    border: none; 
    border-radius: 4px; 
    padding: 6px 12px; 
    white-space: nowrap;
    cursor: pointer;
}

.MemberListButton:hover {
	background: #0353a4; 
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	color: white;
}

.WriteButton {
	color: #242424;
	width: 58px;
	background: #e0e0e0; 
    border: none; 
    border-radius: 4px; 
    padding: 6px 12px; 
    margin-left:10px;
    white-space: nowrap;
    cursor: pointer;
}

.WriteButton:hover {
	background: #0353a4; 
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	color: white;
}

.DiaryList {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-top: 30px;
}

.DiaryPreview {
	width: 900px;
	line-height: 170%;
	background: #ffffff;
	border: none;
	border-radius: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 25px;
	margin-bottom: 30px;
	cursor: pointer;
}

.DiaryWriter {
	font-size: 18px;
	color: #0353a4;
}

.TextPreview {
	color: #242424;
	font-size: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.EditGuide {
	color: #d5d5d5;
	font-size: 15px;
}

/* -----------------------------------------------------------------
	Modal 창 스타일시트
   ----------------------------------------------------------------- */
.Modal-Frame {
	background-color: rgba(0,0,0,0.3);			/* 배경 흐릿하게 처리 */
	display: none;									/* 기본적으로 숨김 */
    height: 100%;									/* 브라우저 전체 높이 */
	left: 0; top: 0;								/* 모달창 프레임 좌측, 상단 위치 */
	overflow: auto;									/* 모달창이 넘치면 내부에서 스크롤 */
	position: fixed;								/* 모달창 프레임을 고정 : 부모창 disabled */
	width: 100%;									/* 모달창 프레임을 브라우저 폭으로 */
	z-index: 1;										/* 모달창 프레임을 위로 */
}

.Modal-Content {
	background-color: transparent;					/* 모달창 배경색 */
	border: none;									/* 모달창 테두리 스타일 */
	width: 600px;									/* 모달창 넓이 */
	height: 800px;									/* 모달창 높이 */
	left: 50%; top: 50%;							/* 모달창 좌측/상단 위치 */
	position: absolute;								/* 모달창 위치 속성 */
	transform: translate(-50%, -50%);				/* 모달창 x, y 만큼 이동 */
}

.Modal-Window {
	border: none;									/* 모달창 페이지(iframe) 테두리 */
	height: 100%;									/* 모달창 페이지(iframe) 높이를 Modal-Content 높이로 */
	width: 100%;									/* 모달창 페이지(iframe) 넓이를 Modal-Content 넓이로 */
}

/* ----------------------------------------------------------------- */