@charset "UTF-8";
.header {
    background-color: #0353a4;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo img {
    width: 250px; 
    height: auto; 
}

.header .user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header .user-info .flag {
    width: 30px;
    height: 20px;
    border-radius: 5px;
}
